@page "/"

<PageTitle>Index</PageTitle>

<h2>Yapılacaklar Listesi</h2>
<br />
<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
        <div class="card h-100">
            <div class="card-header">Yapacaklarım</div>
            <div class="card-body">
               <form method="post" asp-controller="Home" asp-action="CreateHistogram">
                    <input type="text" name="text">
                    <input type="submit" value="Filter" />  
               </form>
                <div class="row my-5">
                    <div class="col">
                        <div class="table-responsive">
                            <table id="example" class="table table-striped" style="width:100%">
                                <thead></thead>
                                <tbody>
                                    <tr>
                                       <td>ajjjjjjjaaaa</td>
                                        <td><a class="btn btn-success" onclick="UpdateEmployeeGetById()" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">Güncelle</a></td>
                                        <td><a class="btn btn-danger" onclick="EmployeeDelete()" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">Sil</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <div class="card-header">Yapıyorum</div>
            <div class="card-body">
                <form method="post" asp-controller="Home" asp-action="CreateHistogram">
                    <input type="text" name="text">
                    <input type="submit" value="Filter" />
                </form>
                <br />

            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <div class="card-header">Yaptım</div>
            <div class="card-body">
                <form method="post" asp-controller="Home" asp-action="CreateHistogram">
                    <input type="text" name="text">
                    <input type="submit" value="Filter" />
                </form>
                <br />
            </div>
        </div>
    </div>
</div>
@*<SurveyPrompt Title="How is Blazor working for you?" />*@

